.header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 109px;
  box-sizing: border-box;
  width: 1340px;
  height: 109px;
  margin: 92px 49px 51px;

}

.header__menu {
  display: grid;
  grid-column: 1/5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link-list {
  display: grid;
  grid-template-areas:"header__link-list-item_no-bullit header__link-list-item header__link-list-item";
  align-content: center;
}

.header__link-list-item_no-bullit {
  list-style: none;
}

.header__link-list-item {
  list-style: circle;
}

.logo {
display: grid;
grid-column: 5/7;
justify-content: center;
}


.header__logo-image {
  display: grid;
  width: 148px;
  height: 105px;
}

.address {
  display: grid;
  grid-column: 9/11;
  justify-content: end;
  align-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.cover {
  display: grid;
  position: relative;
  width: 1440px;
  background-image: url(/images/cover.jpg);
}

.cover__text {
  width: 1340px;
  margin: 165px 50px 147px 50px;
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.cover__text_left {
  display: flex;
  line-height: 115%;
  letter-spacing: 30px;
}

.letter-spacing {
  letter-spacing: 60px;
}

.cover__text_center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  line-height: 100%;
  letter-spacing: 30px;
}

.cover__text_right {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  line-height: 100%;
  letter-spacing: 30px;
}

.m_letter-spacing {
  letter-spacing: 30px;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover__subtitle {
  display: flex;
  margin-bottom: 62px;
}

.subtitle_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: 422px;
  word-spacing: 10px;
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
}

.subtitle__button {
  display: flex;
  margin-left: 78px;
  padding: 12px 32px;
  width: 257px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #FFF;
}

.button_text {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}